<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hello, world! | Brand</title>

    <meta name="description" content="Hello, world description">
    <meta name="theme-color" content="#fafafa">

    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <style>
    </style>

  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="col">

            <h1>Templates sitemap page heading</h1><p class="lead">Value proposition, engagement text goes here</p>

            <ul>
                  <li><a href="starter-html/" title="Base Template">Base Template</a></li>
                  <li><a href="starter-bs4/" title="BS4 Template">BS4 Template</a></li>
                  <li><a href="starter-email/" title="Email Template">Email Template</a></li>
<br>
                  <li><a href="/" title="Templates sitemap page title">Templates sitemap page title</a></li>
            </ul>

        </div><!--/.col-->
      </div><!--/.row-->
    </div><!--/.container-->

    <script>

    </script>
  </body>
</html>
