<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hello, world! | Brand</title>

    <meta name="description" content="Hello, world description">
    <meta name="theme-color" content="#fafafa">

    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>

      .subtitle {
        color: grey;
        font-style: italic;
        text-decoration: underline;
      }

      .flex-parent {
        display: flex;
        xalign-items: center;
        xpadding: 10px;
        xmargin: 30px 0;
      }
      .long-and-truncated {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    </style>

  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col">

          <h2 class="subtitle">Character Set</h2>
          <div class="">
            <p>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
            <p>a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
            <p>¬ ` ! " £ $ € % ^ &amp; * ( ) _ + - =</p>
            <p>{ } [ ] : @ ~ ; ' # | \ &lt; &gt; ? , . /</p>
            <p>0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20</p>
          </div> 

          <h2 class="subtitle">Headings</h2>
          <div class="">
            <h1>Header Style h1</h1>
            <h2>Header Style h2</h2>
            <h3>Header Style h3</h3>
            <h4>Header Style h4</h4>
            <h4>Note: <small>h5 and h6 are not used in this guide</small></h4>
          </div> 

          <h2 class="subtitle">Paragraph</h2>
          <div class="">
            <p>There will be some sunny spells on Sunday, but there will be a chance of showers too. Some of the showers may be heavy. Sunday night should be dry though. Monday looks to be a largely dry day with some sunny spells, and Tuesday should also be mainly dry, although showers are likely later on.</p>
          </div> 

          <h2 class="subtitle">In Paragraph</h2>
          <div class="">
            <p><strong>This line rendered as bold text.</strong></p>
            <p><small>This line of text is meant to be treated as fine print.</small></p>
            <p><em>This line of text is a emphasis and shown as italics.</em></p>
            <p>You can place a <a href="#">link anywhere</a> in your text.</p>
            <div class="flex-parent">
              <p class="flex-child long-and-truncated">This line is trucated with "ellipses" when there us insufficient space to show the full contents. This line is trucated with "ellipses" when there us insufficient space to show the full contents.</p>
            </div>
          </div> 

          <h2 class="subtitle">Block Quote</h2>
          <div class="">
            <blockquote>
          	<p>Once you eliminate the impossible, whatever remains, no matter how improbable, must be the truth.</p>
          	<p class="blockquote-footer"><em>Sherlock Holmes (Sir Arthur Conan Doyle, 1859-1930)</em></p>
            </blockquote>
          </div> 

        </div><!--/.col-->
      </div><!--/.row-->
    </div><!--/.container-->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>

    </script>
  </body>
</html>
